.country.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.backBtn {
    margin: 3rem 0;
    padding: .4rem 1.5rem;
    display: flex;
    align-items: center;
}

.country__data {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.country__flag {
    width: 100%;
    position: relative;
    max-width: 420px;
    height: 300px;
}

.country__flag img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.country__content {
    max-width: calc(100% - 520px);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.country__info {
    width: 100%;
    margin: 1.5rem 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.country__info div {
    width: calc(50% - 10px);
    display: flex;
    align-items: baseline;
    margin: 5px 0;
    font-weight: 300;
}

.country__info div h4 {
    margin-right: .5rem;
    font-weight: 600;
    font-size: 18px;
}

.country__borders {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.country__borders .btn {
    padding: .25rem 1rem;
    border-radius: 4px;
    font-size: 1rem;
    margin: 3px 9px 3px 0;
}

.country__borders .btn:first-of-type {
    margin-left: 9px;
}

.country__borders h4 {
    font-weight: 600;
    font-size: 18px;
}

/* ========== RESPONSIVE ========== */
@media (max-width: 1024px) {
    .backBtn, .country__content {
        margin: 1.5rem 0;
    }
    .country__data {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .country__flag, .country__content {
        max-width: 550px;
    }
}

@media (max-width: 500px) {
    .country__info {
        flex-direction: column;
    }
    .country__info div {
        width: 100%;
    }
}

@media (max-width: 400px) {
    .country__flag {
        height: 200px;
    }
}